.logo
{
    border: 3px solid rgb(255, 255, 255);
}
.div1
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 0%;
}

.cor1
{
    background-image: linear-gradient(72deg,rgb(116, 37, 148), blue, rgb(116, 37, 148));
    padding-bottom: 2%;
    margin-bottom: 2%;
    margin-top: 0%;
    mix-blend-mode: hard-light;
    border: 2px solid rgba(0, 0, 255, 0.445);
}

.div2
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img1
{
    width: 35%;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 68, 255, 0.623);
}

.div3
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;      
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

h2
{
 font-family: 'Courier New', Courier, monospace;
 font-size: 30px;
 color: rgb(0, 0, 0);
 text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #ffffff;
}
.texto1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
}
.texto2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
}
.texto
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #ffffff; 
}

button
{
color: rgb(255, 255, 255);
text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
font-size: 20px;
background-color: rgb(18, 85, 209);
border: none;
border-radius: 20%;
width: 310px;
padding-top: 5%;
padding-bottom: 5%;
cursor: pointer;
transition: background 0.3s;
}
.butt1
{
    background-color: rgb(64, 126, 240);
}
.butt1:hover
{
    background-color: rgba(81, 90, 223, 0.774);
}
.butt2:hover
{
    background-color: rgba(81, 90, 223, 0.774);
}
.butt1:active
{
    background-color: rgba(15, 23, 139, 0.774);
}
.butt2:active
{
    background-color: rgba(15, 23, 139, 0.774);
}