body
{
    margin: 0%;
    background: url(../IMG/giphy.gif);
    background-size: 34%;
}
.Login
{
display: flex;
justify-content: center;
}
.logo
{
margin-top: 2%;
margin-left: 25%;
border: 2px white;
border-style: solid dashed solid dashed;
border-radius: 125px;
width: 250px;
height: 250px;
display: flex;
align-items: center;
padding-bottom: 2%;
margin-bottom: 5%;
box-shadow: 0px 4px 8px 1px rgb(4, 17, 46);
background-color: rgb(3, 3, 117);
}
.img1
{
    transform: rotate(180deg);
    
}
.img2{
    margin-left: 13%;
    margin-top: 5%;
    mix-blend-mode: screen;
}
label
{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
    font-size: 20px;
    margin-left: 14.5%;
}
p
{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
    font-size: 25px;
    margin-bottom: 10%;
    margin-left: 6%;
}
.text2{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
    margin-bottom: 5%;
    margin-left: -1%;
    font-size: 30px;
}
h1
{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
    margin-bottom: 5%;
    margin-left: 24%;
}
input
{
    position: relative;
    width: 97%;
    margin-left: 2%;
    outline: none;
    border: none;
    padding: 1px 1px;
    border-radius: 2px; 
}
button
{
    width: 100px;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #1100ff, -1px 1px 1px #6e1691, -1px -1px 1px #000000;
    background: rgb(3, 3, 117);
    border-color: rgb(79, 133, 248);
    border-radius: 8px;
    transition: 0.4s;
    box-shadow: 0px 4px 8px 1px rgb(1, 1, 32);
    cursor: pointer;
    margin-left: 14.5%;
}
form
{
background-image: linear-gradient(72deg,rgb(1, 1, 41), blue, rgb(1, 1, 41));    
border: 2px solid rgb(5, 5, 102);
padding: 5px;
width: 500px;
height: 630px;
}
.box{
    position: relative;
    width: 350px;
    margin-bottom: 2%;
    margin-left: 14.5%;
}
.box .imputbox
{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 1px rgb(1, 1, 32);
}